These are the loading of the packages.

In [10]:
# import packages here
import pandas as pd
import numpy as np
from scipy import stats

These are the two data sets we were provided with from the Boston files. I have loaded them all for you guys using the packages that we learned (pandas). We are now ready to start cleaning!

In [11]:
# here is our loaded files
crime= pd.read_csv('crime_last_six.csv', engine='python')

In [12]:
new_colnames = [x.lower().replace(' ', '_') for x in crime.columns]
crime.columns= new_colnames
crime.head()

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018/9/2 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018/9/3 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
2,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018/9/3 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
3,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018/9/3 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
4,I182070936,3820,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,C11,398,NaN,2018/9/3 21:09,2018,9,Monday,21,Part Three,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)"

We are dropping columns that are not needed.

In [13]:
crime=crime.drop(columns=['offense_code','district','reporting_area','ucr_part','year'], axis=1)
crime.head(100)

,incident_number,offense_code_group,offense_description,shooting,occurred_on_date,month,day_of_week,hour,street,lat,long,location
0,I182070945,Larceny,LARCENY ALL OTHERS,NaN,2018/9/2 13:00,9,Sunday,13,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070941,Towed,TOWED MOTOR VEHICLE,NaN,2018/9/3 19:27,9,Monday,19,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
2,I182070940,Investigate Property,INVESTIGATE PROPERTY,NaN,2018/9/3 21:16,9,Monday,21,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
3,I182070938,Investigate Property,INVESTIGATE PROPERTY,NaN,2018/9/3 21:05,9,Monday,21,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
4,I182070936,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,NaN,2018/9/3 21:09,9,Monday,21,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)"
...,...,...,...,...,...,...,...,...,...,...,...,...
95,I182070826,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,NaN,2018/9/3 14:11,9,Monday,14,ROSSETER ST,42.303765,-71.074840,"(42.30376511, -71.07484027)"
96,I182070825,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,NaN,2018/9/3 2:36,9,Monday,2,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)"
97,I182070824,Investigate Property,INVESTIGATE PROPERTY,NaN,2018/9/3 13:31,9,Monday,13,CAWFIELD ST,42.319931,-71.063690,"(42.31993148, -71.06368978)"
98,I182070823,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,NaN,2018/9/3 14:00,9,Monday,14,BLUE HILL AVE,42.307821,-71.083541,"(42.30782140, -71.08354076)"
99,I182070822,Vandalism,VANDALISM,NaN,2018/9/3 13:44,9,Monday,13,E SEVENTH ST,42.332385,-71.030161,"(42.33238533, -71.03016099)"

Replacing NaN values with 0 (no shooting) and 'Y' values with 1 (shooting)

In [14]:
crime["shooting"]=crime["shooting"].fillna(0)
crime["shooting"] = crime["shooting"].replace(to_replace="Y",value=1)
crime.head(1287)

,incident_number,offense_code_group,offense_description,shooting,occurred_on_date,month,day_of_week,hour,street,lat,long,location
0,I182070945,Larceny,LARCENY ALL OTHERS,0,2018/9/2 13:00,9,Sunday,13,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070941,Towed,TOWED MOTOR VEHICLE,0,2018/9/3 19:27,9,Monday,19,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
2,I182070940,Investigate Property,INVESTIGATE PROPERTY,0,2018/9/3 21:16,9,Monday,21,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
3,I182070938,Investigate Property,INVESTIGATE PROPERTY,0,2018/9/3 21:05,9,Monday,21,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
4,I182070936,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,0,2018/9/3 21:09,9,Monday,21,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)"
...,...,...,...,...,...,...,...,...,...,...,...,...
1282,I182069512,Larceny,LARCENY THEFT OF BICYCLE,0,2018/8/28 8:30,8,Tuesday,8,E SPRINGFIELD ST,42.336029,-71.075178,"(42.33602920, -71.07517847)"
1283,I182069511,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,0,2018/8/29 23:14,8,Wednesday,23,COMMONWEALTH AVE,42.348776,-71.096068,"(42.34877575, -71.09606805)"
1284,I182069509,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,1,2018/8/29 23:19,8,Wednesday,23,HILLIS RD,42.250405,-71.131737,"(42.25040550, -71.13173740)"
1285,I182069508,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,0,2018/8/29 22:23,8,Wednesday,22,TREMONT ST,42.355407,-71.063124,"(42.35540738, -71.06312433)"
1286,I182069507,Motor Vehicle Accident Response,M/V ACCIDENT - INVOLVING �BICYCLE - INJURY,0,2018/8/29 23:11,8,Wednesday,23,NaN,42.322638,-71.098555,"(42.32263777, -71.09855483)"

We decided to not use the shooting column anymore, so we drop it in the code below.

In [15]:
crime=crime.drop(columns=['shooting'], axis=1)
crime.head(500)

,incident_number,offense_code_group,offense_description,occurred_on_date,month,day_of_week,hour,street,lat,long,location
0,I182070945,Larceny,LARCENY ALL OTHERS,2018/9/2 13:00,9,Sunday,13,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070941,Towed,TOWED MOTOR VEHICLE,2018/9/3 19:27,9,Monday,19,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
2,I182070940,Investigate Property,INVESTIGATE PROPERTY,2018/9/3 21:16,9,Monday,21,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
3,I182070938,Investigate Property,INVESTIGATE PROPERTY,2018/9/3 21:05,9,Monday,21,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
4,I182070936,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,2018/9/3 21:09,9,Monday,21,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)"
...,...,...,...,...,...,...,...,...,...,...,...
495,I182070350,Investigate Person,INVESTIGATE PERSON,2018/9/1 17:20,9,Saturday,17,DORCHESTER ST,42.336869,-71.043794,"(42.33686889, -71.04379437)"
496,I182070348,Investigate Person,INVESTIGATE PERSON,2018/9/1 17:55,9,Saturday,17,COMMONWEALTH AVE,42.342513,-71.143635,"(42.34251263, -71.14363495)"
497,I182070347,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,2018/9/1 16:42,9,Saturday,16,GLEN ST,42.312823,-71.067464,"(42.31282319, -71.06746355)"
498,I182070344,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,2018/9/1 17:34,9,Saturday,17,FAWNDALE RD,42.290118,-71.121879,"(42.29011783, -71.12187904)"
499,I182070342,Robbery,ROBBERY - CAR JACKING,2018/9/1 17:05,9,Saturday,17,CUMMINS HWY,42.276453,-71.112980,"(42.27645319, -71.11297971)"

In [16]:
crime['Missing_Data']=[0]*len(crime['lat'])

In [17]:
crime

,incident_number,offense_code_group,offense_description,occurred_on_date,month,day_of_week,hour,street,lat,long,location,Missing_Data
0,I182070945,Larceny,LARCENY ALL OTHERS,2018/9/2 13:00,9,Sunday,13,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)",0
1,I182070941,Towed,TOWED MOTOR VEHICLE,2018/9/3 19:27,9,Monday,19,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)",0
2,I182070940,Investigate Property,INVESTIGATE PROPERTY,2018/9/3 21:16,9,Monday,21,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)",0
3,I182070938,Investigate Property,INVESTIGATE PROPERTY,2018/9/3 21:05,9,Monday,21,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)",0
4,I182070936,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,2018/9/3 21:09,9,Monday,21,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)",0
...,...,...,...,...,...,...,...,...,...,...,...,...
50961,I162079838,Drug Violation,DRUGS - OTHER,2018/3/7 6:00,3,Wednesday,6,WASHINGTON ST,42.347883,-71.064377,"(42.34788341, -71.06437688)",0
50962,I162079838,Warrant Arrests,WARRANT ARREST,2018/3/7 6:00,3,Wednesday,6,WASHINGTON ST,42.347883,-71.064377,"(42.34788341, -71.06437688)",0
50963,I152049494,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,2018/3/12 11:00,3,Monday,11,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",0
50964,I152049494,Warrant Arrests,WARRANT ARREST,2018/3/12 11:00,3,Monday,11,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",0
50965,I152049494,Police Service Incidents,SERVICE TO OTHER PD INSIDE OF MA.,2018/3/12 11:00,3,Monday,11,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",0

In [18]:
crime.loc[crime.location == '(-1.00000000, -1.00000000)', "Missing_Data"] = 1
crime.loc[crime.location == '(0.00000000, 0.00000000)', "Missing_Data"] = 1

In [19]:
crime.to_csv('Mar5Crime.csv')

Pseudocode:
- make blank column
- for each row, if location contains -1.00000000 or 0.00000000, declare true/yes/1 in the column

,incident_number,offense_code_group,offense_description,occurred_on_date,month,day_of_week,hour,street,lat,long,location,Missing_Data
0,I182070945,Larceny,LARCENY ALL OTHERS,2018/9/2 13:00,9,Sunday,13,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)",0
1,I182070941,Towed,TOWED MOTOR VEHICLE,2018/9/3 19:27,9,Monday,19,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)",0
2,I182070940,Investigate Property,INVESTIGATE PROPERTY,2018/9/3 21:16,9,Monday,21,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)",0
3,I182070938,Investigate Property,INVESTIGATE PROPERTY,2018/9/3 21:05,9,Monday,21,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)",0
4,I182070936,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,2018/9/3 21:09,9,Monday,21,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)",0
...,...,...,...,...,...,...,...,...,...,...,...,...
50961,I162079838,Drug Violation,DRUGS - OTHER,2018/3/7 6:00,3,Wednesday,6,WASHINGTON ST,42.347883,-71.064377,"(42.34788341, -71.06437688)",0
50962,I162079838,Warrant Arrests,WARRANT ARREST,2018/3/7 6:00,3,Wednesday,6,WASHINGTON ST,42.347883,-71.064377,"(42.34788341, -71.06437688)",0
50963,I152049494,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,2018/3/12 11:00,3,Monday,11,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",0
50964,I152049494,Warrant Arrests,WARRANT ARREST,2018/3/12 11:00,3,Monday,11,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",0
50965,I152049494,Police Service Incidents,SERVICE TO OTHER PD INSIDE OF MA.,2018/3/12 11:00,3,Monday,11,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",0